<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374701197391-020kchofv4uignia61j2vjdp13elku4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374701197391-020kchofv4uignia61j2vjdp13elku4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374701197391-hdd60f73tklc3ss2vspafhgcj8phq0j8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ53AR8GeUaxIz6uuM7FrgJvZTH9A_-Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>374701197391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2excel.RoadieApp</string>
	<key>PROJECT_ID</key>
	<string>roadie-4f4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>roadie-4f4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374701197391:ios:7c352ebc72f4e14a9b423a</string>
</dict>
</plist>