<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Roadie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1121539361675701</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.374701197391-020kchofv4uignia61j2vjdp13elku4d</string>
			</array>
			<key>item 0</key>
			<string>com.googleusercontent.apps.374701197391-enld102pd3k2aqkfcf7j525pikk6i65v</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1121539361675701</string>
	<key>FacebookDisplayName</key>
	<string>Roadie</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Roadie would like to use your camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Roadie would like access to your photo gallery</string>
	<key>SCSDKClientId</key>
	<string>df42b7d8-156f-41f8-bb9c-098574ea1ec4</string>
	<key>SCSDKRedirectUrl</key>
	<string>example://snap-kit/oauth2</string>
	<key>SCSDKScopes</key>
	<array>
		<string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
		<string>https://auth.snapchat.com/oauth2/api/user.bitmoji.avatar</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Raleway-Black.ttf</string>
		<string>fonts/Raleway-BlackItalic.ttf</string>
		<string>fonts/Raleway-Bold.ttf</string>
		<string>fonts/Raleway-BoldItalic.ttf</string>
		<string>fonts/Raleway-ExtraBold.ttf</string>
		<string>fonts/Raleway-ExtraBoldItalic.ttf</string>
		<string>fonts/Raleway-ExtraLight.ttf</string>
		<string>fonts/Raleway-ExtraLightItalic.ttf</string>
		<string>fonts/Raleway-Italic.ttf</string>
		<string>fonts/Raleway-Light.ttf</string>
		<string>fonts/Raleway-LightItalic.ttf</string>
		<string>fonts/Raleway-Medium.ttf</string>
		<string>fonts/Raleway-Regular.ttf</string>
		<string>fonts/Raleway-MediumItalic.ttf</string>
		<string>fonts/Raleway-SemiBold.ttf</string>
		<string>fonts/Raleway-SemiBoldItalic.ttf</string>
		<string>fonts/Raleway-Thin.ttf</string>
		<string>fonts/Raleway-ThinItalic.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
